body {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0 -5px 0 0;
}

#playground-container {
  border-radius: 0.5em;
  padding: 5px;
  background-color: #333;
  margin-bottom: 2em;
}

#consoleDetails {
  margin-top: 8px;
}

#codeDetails,
#consoleDetails {
  color: #bbb;
  outline: 2px solid #333;
  border-radius: 0.5em;
}

#codeDetails summary,
#consoleDetails summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: #333;
}

#codeDetails[open] summary,
#consoleDetails[open] summary {
  border-bottom: 2px solid #333;
  border-radius: 0.5em 0.5em 0 0;
}

#codeDetails:not([open]) summary span:first-child::before,
#consoleDetails:not([open]) summary span:first-child::before {
  content: "▶";
  margin-right: 0.5em;
}

#codeDetails[open] summary span:first-child::before,
#consoleDetails[open] summary span:first-child::before {
  content: "▼";
  margin-right: 0.5em;
}

#editor {
  width: 100%;
  color: black;
  background-color: #fff;
  padding: 0.5em;
  resize: vertical;
  margin-bottom: -5px;
  border-radius: 0 0 0.5em 0.5em;
  /* position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
}

#consoleOutput {
  margin: 0;
  padding: 0.5em;
  list-style: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #000;
  font-family: monospace;
}

#consoleOutput:empty::before {
  content: "No output";
  color: #bbb;
  display: block;
  padding: 0.5em;
}

#result {
  display: none;
}
